<div class="card">
  <h5>Warrant Enquiry</h5>

  <section id="filterForm">
    <p-fieldset legend="Filters ({{ noOfFilters }})" [toggleable]="true">
      <form [formGroup]="filterForm">
        <div class="row">
          <div class="input">
            <label for="warrantRefNo">Warrant Ref No</label>
            <input type="text" pInputText formControlName="warrantRefNo" />
          </div>
          <div class="input">
            <label for="issueDate">Warrant Issue Date</label>
            <div class="date-wrapper">
              <p-calendar
                formControlName="issueDateStart"
                [showIcon]="true"
                dateFormat="dd.mm.yy"
              ></p-calendar>
              <p-calendar
                formControlName="issueDateEnd"
                [showIcon]="true"
                dateFormat="dd.mm.yy"
              ></p-calendar>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input">
            <!-- for id number -->
            <label for="dlNo"> DL Number </label>
            <p-inputNumber
              inputId="dlNo"
              formControlName="dlNo"
              [useGrouping]="false"
            ></p-inputNumber>
          </div>
          <div class="input">
            <label for="offenderName">Offender Name</label>
            <input type="text" pInputText formControlName="offenderName" />
          </div>
        </div>
        <div class="row">
          <div class="input">
            <label for="workflowState">Workflow State</label>
            <!-- {{ workflowStates | json }} -->
            <p-dropdown
              formControlName="workflowState"
              [options]="workflowStates"
              optionLabel="warrantStateCode"
            ></p-dropdown>
            <p-dropdown
              formControlName="selectedCity"
              optionLabel="name"
              placeholder="Select a City"
            ></p-dropdown>
          </div>
          <div class="input">
            <label for="courtName">Court(Issued By)</label>
            <p-dropdown
              formControlName="courtName"
              [options]="courtNames"
              optionLabel="courtName"
            ></p-dropdown>
          </div>
        </div>
        <div class="row">
          <div class="input">
            <label for="">Print Status</label>
            <div class="wrapper">
              <div *ngFor="let status of allPrintStatus" class="field-checkbox">
                <p-radioButton
                  [inputId]="status.key"
                  [value]="status"
                  formControlName="printStatus"
                ></p-radioButton>
                <label [for]="status.key" class="ml-2">{{
                  status.status
                }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <p-chip
            *ngFor="let chip of chips"
            [label]="chip"
            [removable]="true"
            (onRemove)="removeChip(chip)"
          ></p-chip>
        </div>
        <div class="row">
          <p-button
            label="Clear"
            (onClick)="clearForm()"
            icon="pi pi-times"
            iconPos="right"
          ></p-button>
          <p-button label="Apply Filter" (onClick)="submitForm()"></p-button>
        </div>
      </form>
    </p-fieldset>
  </section>

  <section id="warrantList">
    <p-fieldset legend="List of Warrants" [toggleable]="true">
      <p-table
        [value]="warrants"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 15]"
        [(selection)]="selectedWarrant"
        dataKey="code"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Reference No</th>
            <th>Issue Date</th>
            <th>DL Number</th>
            <th>Offender Name</th>
            <th>Court</th>
            <th>Hearing Court Date</th>
            <th>Warrant Court Date</th>
            <th>Print Status</th>
            <th>State</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-warrant>
          <tr>
            <td>
              <p-tableCheckbox [value]="warrant"></p-tableCheckbox>
            </td>
            <td>{{ warrant.warrantRefNo }}</td>
            <td>{{ warrant.issueDate | date : "dd.MM.YYYY" }}</td>
            <td>{{ warrant.idNumber }}</td>
            <td>
              {{ warrant.firstName }} {{ warrant.middleName }}
              {{ warrant.lastname }}
            </td>
            <td>{{ warrant.courtName }}</td>
            <td>{{ warrant.courtHearingDate | date : "dd.MM.YYYY" }}</td>
            <td>{{ warrant.warrantDate | date : "dd.MM.YYYY" }}</td>
            <td>{{ warrant.printStatus }}</td>
            <td>{{ warrant.warrantState }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-fieldset>
  </section>
</div>
